version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_alx_container
    platform: linux/amd64
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: alx
      MYSQL_USER: alx
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
